@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
body {
  font-family: "Arvo", serif;
}
header {
  height: 80px;
  width: 100%;
  background-color: cyan;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  margin-top: -120px;
}
header img {
  height: 100%;
  width: auto;
}
header ul {
  display: flex;
  width: 20%;
  justify-content: space-between;
}
header ul li {
  list-style: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
header p {
  font-size: 25px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.full-width {
  width: 100%;
}
/*Shop Section*/
.shop-section {
  display: flex;
  margin-top: 120px;
}
/*Product Section*/
.product-container {
  width: 65%;
  padding: 10px 5%;
  height: 82vh;
  overflow: scroll;
}
.single-product {
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  margin-top: 15px;
  box-shadow: 1px 1px 10px gray;
}
.single-product:first-child {
  margin-top: 0;
}
.single-product img {
  width: 150px;
  height: auto;
}
.product-details {
  padding-left: 25px;
  width: 100%;
}
.product-details p {
  font-size: 20px;
  margin: 3px 0px;
}
.product-details h2 {
  font-size: 18px;
}
.product-details button {
  margin-top: 8px;
  background-color: cyan;
  padding: 6px 25px;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid cyan;
  font-weight: 500;
  transition: background-color 0.5s;
}
.product-details button:hover {
  background-color: lightcyan;
}
/*Cart Section*/
.cart-container {
  width: 35%;
  padding: 0px 50px;
}
/*Cart-Btn*/
.cart-btn {
  margin-right: 5px;
}
.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.cart-table th {
  font-size: 20px;
  padding: 8px 2px;
  border-bottom: 1px solid lightgray;
}
.cart-table th:nth-child(odd) {
  text-align: left;
}
.cart-table th:nth-child(even) {
  text-align: right;
}
/*Cart Product Showcase*/
.cart-products {
  height: 290px;
  overflow: scroll;
}
.selected-product {
  display: flex;
  width: 90%;
  border: 1px solid gray;
  margin: 10px 0px;
  padding: 10px;
}
.cart-products img {
  height: 60px;
  width: auto;
  margin-right: 10px;
}
.icon {
  font-size: 25px;
  cursor: pointer;
}
